[submodule "task_2/front-end/softy-pinko-front-end"]
	path = task_2/front-end/softy-pinko-front-end
	url = https://github.com/atlas-school/softy-pinko-front-end.git
[submodule "task_3/front-end/softy-pinko-front-end"]
	path = task_3/front-end/softy-pinko-front-end
	url = https://github.com/atlas-school/softy-pinko-front-end.git
